.containerInfo_tittle {
    text-align: center;
    color: white;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 5px 5px 1px var(--blue);
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    animation: backBanner 10s linear;
    cursor: pointer;
}

h4{

}

.containerInfo_tittle:hover {
    color: rebeccapurple;
    box-shadow: 0px 0px 8px 10px black;
}

.containerInfo_phrase{
    height: 250px;
    
    font-family: 'Delicious Handrawn', cursive;
    left: 0px;
    top: px;
    text-align: center;
    font-size: 25px;
    border-radius: 39px;
    padding: 70px 33px 70px 33px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.33) 100%);
    Fill: Linear Gradient rgba(255, 255, 255, 0.33);
    max-width: 400px;
    
}


.containerInfo_author {
    width: 300px;
    height: 230px;
    left:0px;
    background-image: url("/images/planet.png");
    background-size: cover;
    position: absolute;
    bottom: 0%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center ;
    
}

p{
    font-size: 18px;
}



@media (min-width: 375px){
    .containerInfo_author {
        left: 30px;
    }
    p{
       font-size: 15px;
    }
}

@media (min-width: 425px){
    .containerInfo_author {
        left: 50px;
    }
    p{
       font-size: 18px;
    }
}

@media (min-width: 475px){
    .containerInfo_author {
        left: 80px;
    }
    p{
       font-size: 18px;
    }
}

@media (min-width: 768px){
    .containerInfo_author {
        left: 230px;
    }
    p{
       font-size: 18px;
    }
}

@media (min-width: 1024px){
    .containerInfo_author {
        width: 400px;
        height: 300px;
        left:300px;
    }
    p{
       font-size: 18px;
    }
}

@media (min-width: 1224px){
    .containerInfo_author {
        width: 400px;
        height: 300px;
        left:600px;
    }
    p{
       font-size: 18px;
    }
}



